<!DOCTYPE html>
<html>
    <head lang="en-us">
        <meta charset="UTF-8">
        <title>CryptoCoin Analyzer: <%= coinData[0].info.name%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    </head>
    <body>
        <% include components/chart %>
    </body>
</html>
